
.bandeau {
    overflow: hidden;
    .marquee {
        width: 200%;
        max-width: 200%;
        -webkit-animation: marquee 3s linear infinite;
        animation: marquee 3s linear infinite;
    }
}

/* 29 images sur 3500 pixels */
@keyframes marquee {
    from {
        transform: translateX(-10.288%)
    }
    to {
        transform: translateX(0)
    }
}
