/* YEK (https://github.com/yek-org)
-------------------------------------- */

@mixin yek-align($ver: null, $hor: null, $content: null) {
  @if $hor == null and $ver == null {
    align-items: center;
    justify-content: center;
  }
  @if $hor not null {
  align-items: $hor; // hor
}
  @if $ver not null {
             justify-content: $ver; // ver
           }
  @if $content not null {
                 align-content: $content;
               }
}

@mixin yek-aligns($align: center) {
  @include yek-align($align, $align, $align);
}

@mixin yek-size($w: null, $h: null) {
  @if $w == null and $h == null {
    width: 100%;
    height: 100%;
  }
  @if $w not null {
  width: $w;
}
  @if $h not null {
           height: $h;
         }
}
@mixin yek-flex($dir: column, $wrap: wrap) {
  display: flex;
  flex-direction: $dir;
  flex-wrap: $wrap;
}

$yek-light: #fff;
$yek-gray--100: #f9f9f9;
$yek-gray--400: #f4f4f4;
$yek-gray--800: #444;
$yek-blue--600: #69c;
@function _yek-btn--size($s: "md") {
  $_s: map-get(
                  (
                          small: 42px,
                          sm: 42px,
                          medium: 60px,
                          md: 60px,
                          larg: 72px,
                          lg: 72px,
                          custom: 200px
                  ),
                  $s
  );
  @return $_s;
}

/* variables
---------------------------- */
$COLOR_PRIMARY: #cb6ce6;
$COLOR_SECONDARY: #c7d0d8;

/* 3D-BOX ($bx-)
------------------------- */
$bx-bg-color-1: darken($COLOR_PRIMARY, 10);
$bx-bg-color-2: darken($COLOR_SECONDARY, 10);
$bx-shadow: -20px 20px 5px rgba($yek-gray--800, 0.5);
$bx-skew--before: skewY(-45deg);
$bx-skew--after: skewX(-45deg);
$bx-rotate--side: rotate(0deg);
$bx-skew--target: skew(0deg);
$bx-rotate--target: rotate(0deg);
$bx-transform--before: $bx-rotate--side $bx-skew--before;
$bx-transform--after: $bx-rotate--side $bx-skew--after;
$bx-transform--target: perspective(1000px) $bx-rotate--target $bx-skew--target;
$bx-transform-target--hover: $bx-transform--target translate(5px, -5px);

// MIXIN
@mixin yek-button($s: "md", $t: 144px) { //144
  $_size: _yek-btn--size($s);
  @include yek-size($t, $_size);
}

@mixin bx-variant($e, $c) {
  &--#{$e} {
    background-color: $c;
    box-shadow: -50px 50px 20px rgba($yek-gray--800, 0.5); // blur: 20px
    &::before {
      background-color: lighten($c, 7);
    }
    &::after {
      background-color: lighten($c, 14);
    }
  }
}


/* stylesheets
---------------------------- */
.yek-social {
  @include yek-size(1000px, 190px); // 750px : eloignement entre les boutons ; 190px : espace entre le bloc du dessus et les boutons

  &__list,
  &__item,
  &__link,
  &__button {
    @include yek-flex;
    @include yek-align;
  }
  &__list,
  &__link {
    @include yek-size(100%, 80px);
  }

  &__list {
    @include yek-align(space-between);
    border-radius: 9px;
    padding: 9px;
  }

  &__item {
    @include yek-size(24%, 50%);
    border-radius: 9px;
    background-color: #888;
  }

  // link style
  &__button {
    text-align: center;
    font-size: 22px;
    &.button_1 {
      @include yek-size(450px, 100%);
      background-color: $bx-bg-color-1;
    }
    &.button_2 {
      @include yek-size(300px, 100%);
      background-color: $bx-bg-color-2;
    }
    box-shadow: $bx-shadow;
    transition: 0.5s 0.15s;
  }

  // box style
  &__button {
    position: relative;
    transform: $bx-transform--target;
    color: white;
    font-weight: bold;

    &::before,
    &::after {
      content: "";
      position: absolute;
    }

    &.button_1 {
      &::before {
        background-color: darken($bx-bg-color-1, 14);
      }
      &::after {
        background-color: darken($bx-bg-color-1, 7);
      }
    }
    &.button_2 {
      &::before {
        background-color: darken($bx-bg-color-2, 14);
      }
      &::after {
        background-color: darken($bx-bg-color-2, 7);
      }
    }
    &::before {
      @include yek-size(21px, 100%);
      top: 10px;
      left: -20px;
      // background-color: darken($bx-color--side, 7);
      transition: 0.5s 0.15s;
      transform: $bx-transform--before;
    }

    &::after {
      @include yek-size(100%, $h: 21px);
      bottom: -20px;
      left: -10px;
      transition: 0.8s 0.15s;
      // background-color: lighten($bx-color--side, 7);
      transform: $bx-transform--after;
    }
  }


  /* animations
  ------------------------- */
  &__link:hover &__button {
    @include bx-variant("button_1", $COLOR_PRIMARY);
    @include bx-variant("button_2", $COLOR_SECONDARY);
    transform: $bx-transform-target--hover;
  }
}




