/* YEK (https://github.com/yek-org)
-------------------------------------- */
/* variables
---------------------------- */
/* 3D-BOX ($bx-)
------------------------- */
/* resets
---------------------------- */
body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #888;
}

a {
  color: #69c;
  text-decoration: none;
  cursor: pointer;
}

/* stylesheets
---------------------------- */
.yek-social {
  width: 1000px;
  height: 190px;
  /* animations
	------------------------- */
}

.yek-social__list, .yek-social__item, .yek-social__link, .yek-social__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.yek-social__list, .yek-social__link {
  width: 100%;
  height: 100%;
}

.yek-social__list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 9px;
  padding: 9px;
}

.yek-social__item {
  width: 24%;
  height: 50%;
  border-radius: 9px;
  background-color: #888;
}

.yek-social__button {
  width: 200px;
  height: 200px;
  -webkit-box-shadow: -20px 20px 5px rgba(68, 68, 68, 0.5);
          box-shadow: -20px 20px 5px rgba(68, 68, 68, 0.5);
  -webkit-transition: 0.5s 0.15s;
  transition: 0.5s 0.15s;
}

.yek-social__button.button_1 {
  background-color: red;
}

.yek-social__button.button_2 {
  background-color: blue;
}

.yek-social__button {
  position: relative;
  -webkit-transform: perspective(1000px) rotate(0deg) skew(0deg);
          transform: perspective(1000px) rotate(0deg) skew(0deg);
}

.yek-social__button::before, .yek-social__button::after {
  content: "";
  position: absolute;
}

.yek-social__button.button_1::before {
  background-color: #b80000;
}

.yek-social__button.button_1::after {
  background-color: #db0000;
}

.yek-social__button.button_2::before {
  background-color: #0000b8;
}

.yek-social__button.button_2::after {
  background-color: #0000db;
}

.yek-social__button::before {
  width: 21px;
  height: 100%;
  top: 10px;
  left: -20px;
  -webkit-transition: 0.5s 0.15s;
  transition: 0.5s 0.15s;
  -webkit-transform: rotate(0deg) skewY(-45deg);
          transform: rotate(0deg) skewY(-45deg);
}

.yek-social__button::after {
  width: 100%;
  height: 21px;
  bottom: -20px;
  left: -10px;
  -webkit-transition: 0.8s 0.15s;
  transition: 0.8s 0.15s;
  -webkit-transform: rotate(0deg) skewX(-45deg);
          transform: rotate(0deg) skewX(-45deg);
}

.yek-social__icon {
  color: #444;
  font-size: 1.7em;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.yek-social__link:hover .yek-social__icon {
  color: #fff;
}

.yek-social__link:hover .yek-social__button {
  -webkit-transform: perspective(1000px) rotate(0deg) skew(0deg) translate(5px, -5px);
          transform: perspective(1000px) rotate(0deg) skew(0deg) translate(5px, -5px);
}

.yek-social__link:hover .yek-social__button--button_1 {
  background-color: #c4302b;
  -webkit-box-shadow: -50px 50px 20px rgba(196, 48, 43, 0.5);
          box-shadow: -50px 50px 20px rgba(196, 48, 43, 0.5);
}

.yek-social__link:hover .yek-social__button--button_1::before {
  background-color: #d5433e;
}

.yek-social__link:hover .yek-social__button--button_1::after {
  background-color: #db5f5b;
}

.yek-social__link:hover .yek-social__button--button_2 {
  background-color: #00acee;
  -webkit-box-shadow: -50px 50px 20px rgba(0, 172, 238, 0.5);
          box-shadow: -50px 50px 20px rgba(0, 172, 238, 0.5);
}

.yek-social__link:hover .yek-social__button--button_2::before {
  background-color: #13bdff;
}

.yek-social__link:hover .yek-social__button--button_2::after {
  background-color: #36c7ff;
}

.follow-me {
  display: inline-block;
  position: fixed;
  bottom: 14px;
  left: 14px;
  padding: 9px;
  border-radius: 9px;
  font-family: "ubuntu";
  background-color: #fff;
}

.follow-me .link {
  -webkit-transition: 0.3s 0.2s linear;
  transition: 0.3s 0.2s linear;
  border-radius: 4px;
  padding: 4px;
}

.follow-me .link:hover {
  margin: 4px;
  color: #fff;
  background-color: #69c;
}

.follow-me .mute {
  color: black;
}
/*# sourceMappingURL=main.css.map */