/* YEK (https://github.com/yek-org)
-------------------------------------- */
/* variables
---------------------------- */
/* 3D-BOX ($bx-)
------------------------- */
/* stylesheets
---------------------------- */
@import url(node_modules/tailwindcss/dist/base.min.css);
@import url(node_modules/tailwindcss/dist/components.min.css);
@import url(node_modules/tailwindcss/dist/tailwind.min.css);
@import url(node_modules/tailwindcss/dist/utilities.min.css);
.yek-social {
  width: 1000px;
  height: 190px;
  /* animations
  ------------------------- */ }
  .yek-social__list, .yek-social__item, .yek-social__link, .yek-social__button {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
  .yek-social__list, .yek-social__link {
    width: 100%;
    height: 80px; }
  .yek-social__list {
    justify-content: space-between;
    border-radius: 9px;
    padding: 9px; }
  .yek-social__item {
    width: 24%;
    height: 50%;
    border-radius: 9px;
    background-color: #888; }
  .yek-social__button {
    width: 200px;
    height: 200px;
    box-shadow: -20px 20px 5px rgba(68, 68, 68, 0.5);
    transition: 0.5s 0.15s; }
    .yek-social__button.button_1 {
      background-color: red; }
    .yek-social__button.button_2 {
      background-color: blue; }
  .yek-social__button {
    position: relative;
    transform: perspective(1000px) rotate(0deg) skew(0deg); }
    .yek-social__button::before, .yek-social__button::after {
      content: "";
      position: absolute; }
    .yek-social__button.button_1::before {
      background-color: #b80000; }
    .yek-social__button.button_1::after {
      background-color: #db0000; }
    .yek-social__button.button_2::before {
      background-color: #0000b8; }
    .yek-social__button.button_2::after {
      background-color: #0000db; }
    .yek-social__button::before {
      width: 21px;
      height: 100%;
      top: 10px;
      left: -20px;
      transition: 0.5s 0.15s;
      transform: rotate(0deg) skewY(-45deg); }
    .yek-social__button::after {
      width: 100%;
      height: 21px;
      bottom: -20px;
      left: -10px;
      transition: 0.8s 0.15s;
      transform: rotate(0deg) skewX(-45deg); }
  .yek-social__icon {
    color: #444;
    font-size: 1.7em;
    transition-delay: 0.2s; }
  .yek-social__link:hover .yek-social__icon {
    color: #fff; }
  .yek-social__link:hover .yek-social__button {
    transform: perspective(1000px) rotate(0deg) skew(0deg) translate(5px, -5px); }
    .yek-social__link:hover .yek-social__button--button_1 {
      background-color: #c4302b;
      box-shadow: -50px 50px 20px rgba(196, 48, 43, 0.5); }
      .yek-social__link:hover .yek-social__button--button_1::before {
        background-color: #d5433e; }
      .yek-social__link:hover .yek-social__button--button_1::after {
        background-color: #db5f5b; }
    .yek-social__link:hover .yek-social__button--button_2 {
      background-color: #00acee;
      box-shadow: -50px 50px 20px rgba(0, 172, 238, 0.5); }
      .yek-social__link:hover .yek-social__button--button_2::before {
        background-color: #13bdff; }
      .yek-social__link:hover .yek-social__button--button_2::after {
        background-color: #36c7ff; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif; }

p, span, a, li {
  font-family: 'Raleway', sans-serif; }
